* {
  box-sizing: border-box;
  font-family: 'Fontdiner Swanky', cursive;
}

main #home-view { 
  min-height: 800px;
  background: url(/img/birddog.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: linear-gradient(to bottom right, #77C9D4,#57BC90);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
}

header {
  background-color: #F9D059;
  border-bottom: 0.4em groove #36454f;
  width: 100%;
}

.logo {
  display: none;
  border-radius: 50%;
  float: right;
  width: 5em;
  margin: 0.5em 0.5em 0em 0em;
}

header img {
  display: none;
  float: right;
  margin-top: 1vw;
  margin-right: 1vw;
  border-radius: 50%;
  width: 10em;
}

h1 {
  font-size: 2em;
  margin: 0.3em;
  float: left;
}

h2 {
  font-size: 6vw;
}

nav {
  clear: both;
  padding-left: 0em;
  margin:0em;
}

.main-nav ul {
  padding-left: 0em;
}

.main-nav * li {
  list-style: none;
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 5vw;
}

a, [class^="icon-"] {
  color: #777777;
  text-decoration: none;
}

footer {
  border-top: 0.4em groove #36454f;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 75px;
  width: 100%;
  background-color: #F9D059;
  line-height: 100%;
  margin-top: 2vw;
}

footer .copyright {
  float: left;
  margin-top: 1em;
  font-size: 1.5em;
}

.github {
  height: 25%;
  float: right;
  margin-top: 1em;
  font-size: 1.5em;
}

@media only screen and (min-width: 640px) {

  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 4vw;
  }
  ul li {
    font-size: 1vw;
  }


} 