* {
  box-sizing: border-box;
  /* outline: 1px dashed red; */
  font-family: 'Fontdiner Swanky', cursive;
}

body {
  background: linear-gradient(to bottom right, #77C9D4,#57BC90);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: #F9D059;
  box-sizing: border-box;
  border-bottom: 0.4em groove #36454f;
}

.logo {
  border-radius: 50%;
  float: left;
  width: 3em;
  margin-top: 1.5em;
}

h1 {
  font-size: 2em;
  margin: 0.3em;
  float: left;
}

/* .icon-paw {
  color: #f95759;
} */

h2 {
  font-size: 6vw;
}

nav {
  clear: both;
  padding-left: 0px !important;
  margin:0px;
}

ul {
  padding-left: 0px;
}

.main-nav * li {
  list-style: none;
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 5vw;
}

a, [class^="icon-"] {
  color: #777777;
  text-decoration: none;
}

body {
  /* background-color: #77C9D4; */
}

footer {
  border-top: 0.4em groove #36454f;
  position: relative;
  height: 75px;
  width: 100%;
  background-color: #F9D059
}

@media only screen and (min-width: 640px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 4vw;
  }
  ul li {
    font-size: 1vw;
  }
} 