.icon-menu {
  float: right;
  font-size: 3em;
  position: absolute;
  top: 0em;
  right: 0em;
  cursor: pointer;
}

.user {
  display: none;
}

.main-nav ul {
  display: none;
}

.main-nav:focus ul,
.main-nav:hover ul {
  display: inherit;
} 

#home-view {
  width:100%;
  height: 520px;
  padding: 0;
  padding-top:2vw;
}

@media only screen and (min-width: 700px) {
  .logo, .petfinder {
    display: block;
  }
  .icon-menu {
    display: none;
  }
  .main-nav ul {
    display: block;
  }
  .main-nav ul li {
    display: inline;
    font-size: 1.5em;
  }

}
