.icon-menu {
  float: right;
  font-size: 3em;
  position: absolute;
  top: 0em;
  right: 0em;
}

.main-nav ul {
  display: none;
}

#icon-menu:hover ~ ul {
  display: none;
}

.main-nav:focus ul,
.main-nav:hover ul {
  display: inherit;
} 

#images-wrapper li {
  display: inline-block;
  margin-left: 10vw;
  width: 80%;
  padding-bottom: 2vw;
}

.user {
  display: none;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }
  .main-nav ul {
    display: block;
  }
  .main-nav ul li {
    display: inline;
    font-size: 1.5em;
  }
  .user {
    display: none;
  }
}
